$background-color: #141414;
$primary-color: #e5e5e5;
$secondary-color: white;
$color: grey;
$font-family: "Roboto", sans-serif;
$line-space: 1px;
$font-big-size: 26px;
$font-small-size: 14px;
$font-medium-size: 20px;
$font-weight: 500;
